/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilos gemerales*/

html {
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
}

/* header */
header{
    background-color: #e30613;
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    align-items: center;
    z-index: 3;
}


header nav ul{
    
    display: flex;
    list-style: none;
    gap: 1rem;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

#menu {
    background-color: #e30613;
}

#navbarDesktop{
    display: none;
}

.logo{
    align-items: center;
}

.usuario {
    display: flex;
    gap: 1rem;
}

.usuario a img{

    width: 30px;
}

/* main */

main{
    margin-top: 90px;
    color: white;
}

.container{
    padding-left: 30px;
    padding-right: 30px;
}

/* títulos */

h1 {
    font-family: 'gloock', serif;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
}

h2 {
    text-align: center;
    font-family: 'gloock', serif;
}


/* parrafos reseteados por mi, porque bootstrap hace lo que quiere */
p {
    margin-top: 0;
    margin-bottom: 0;
}

.whatsapp{
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* footer */

footer{
    background-color: #e30613;
    padding: 20px;
    color: white;
}

.logoFooter{
    display: flex;
    align-items: center;
}

.resumen{
    width: 200px;
}

.legales{
    text-align: center;
    font-style: italic;
    font-size: 12px;
}

.logoYRedes{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.redes{
    align-items: center;
    display: flex;
    gap: 2rem;
}

/* estilos banner */

.bannerPrincipal{
        /*
    display: flex;
    align-items: center;
    color: white;
    background-image:url("../img/banner-principal.jpg");
    
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1;
    position: fixed;

    width: 100%;
        */
    
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 90px;
}

.bannerPrincipal h1{

    font-size: 2rem;

}

.tituloPrincipal{
    padding: 20px;
}

.bannerSecundario{
    margin-bottom: 2rem;
}


.bannerSecundarioTitulo{
    position: absolute;
    right: 15%;
    top: 10px;
    left: 15%;
    color: #fff;
    text-align: center;
}


.bannerSecundarioTitulo h1{
    font-size: 2.5rem;
}








/*estilos index*/


/* Nuevos Lanzamientos */

.nuevosLanzamientos{
    height: 200vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,25%);
}

/*
main .lanzamientoUno, .lanzamientoDos{
    display: none;
}*/



.ofertas{
    margin-bottom: 1rem;
}

.ofertas a img{
    width: 100%;
    height: 85%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px;    
}
  /* 
.ofertas p{
  display: none;
    
}
*/

.off{
    color: #e30613;

}

/* Destacados de la semana */

.destacadosSemana{
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,50%);
    gap: 1rem;
    margin-bottom: 2rem;

}

.productoCinco{
    display: none;
}



/*
.productos img{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 5px 10px 0px;
}*/


/*estilos productos*/



/*estilos ofertas*/

.ofertasOfertas{
    height: 125vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,50%);
}


.ofertasOfertas p {
    text-align: center;
}

.productosOfertas{
    display: inline-block;
    margin-bottom: 20px;
}

.productosOfertas img{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 5px 10px 0px;
}


.precioViejo{
    color:grey;
    text-decoration: line-through;
    font-size: 12px;
}

/*estilos nosotros*/

.nosotros {
    text-align: center;
    padding-bottom: 2rem;

}

.nosotros h2{
    margin-bottom: 10px;
}

/*estilos contacto*/



.backgroundImg{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.formDatosContenedor {
    gap: 16px;
    display: flex;
}

.formDatos{

    margin: 16px 0px 16px 0px;
    width: 100%;
}

.formDatos input{
    border-style: none;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

.btnEnviar{
    margin-top: 10px;
    padding-bottom: 10px;

}

.btnEnviar input{
    color: white;
    background-color: #e30613;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
}

#text{
    margin-top: 1rem;
    width: 100%;
    height: 100px;    
    border-style: none;
    border-radius: 5px;
    padding: 16px;

}

/*estilos remeras*/

.remeraYDescripcion{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 10% 60% 30%);
    gap: 1rem;
}

.remeraBG {    

    background:linear-gradient(160deg, red, rgb(187, 0, 0) 60%, rgb(2, 2, 2) 60%, rgb(0, 0, 0));
}

.descripcionDeLaRemera {
    padding: 1rem;

}

.remera img{
    width: 100%;
    height: 85%;
    z-index: 5;
}

.remeraYDescripcion h1{

    top: 50px;
    font-size: 3rem;
    text-align: center;
    z-index: 1;
}



/* mq tablet */

@media screen and (min-width: 600px){

    /*header style */
    #menu{
        display: none;
    }

    #navbarDesktop {
        align-items: center;
        display: flex;
        
    }


    /* main style*/

    main{
        margin-top: 90px;

    }
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }

    /* Banner Principal */    
    .bannerPrincipal h1{
        font-size: 3rem;    
    }

    /*Baner secundario estilo */
    .bannerSecundario {
        height: 200px;
    }

    .bannerSecundarioTitulo h1{
        font-size: 4rem;
    }
    
    
    /*nuevos lanzamientos estilos */

    
    .ofertas p{
        display: block;
        font-size: 12px;
    }

    .nuevosLanzamientos{
        height: 100vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 33%);
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .ofertas{
        margin-bottom: 2rem;
    }

    .ofertas a img{
        width: 100%;
        height: 100%;
    }

    .lanzamientoUno {
        grid-row: span 3;
        grid-column: span 2;
    }

    .lanzamientoDos {
        grid-row: span 2;
        grid-column: span 2;
    }

    .lanzamientoTres, .lanzamientoCuatro{
        grid-column: span 1;
    }

    /* Destacados de la semana */
    .destacadosSemana{
        height: 100vh;

    }

    /* pagina ofertas */

    .ofertasOfertas{
        height: 75vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100%;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .descuentoPrincipalUno{

        grid-column: span 1;

    }

    .descuentoPrincipalDos{

        grid-column: span 1;

    }
    /* footer */
    .resumen{
        width: 300px;
    }
    
}

/* mq desktop */


@media screen and (min-width: 1024px){

    #menu{
        display: none;
    }

    .container {
        margin-left: 10%;
        margin-right: 10%;
    }

    /* Banner Principal */    
    .bannerPrincipal h1{
        font-size: 5rem;    
    }
    
    /*Baner secundario estilo */
    .bannerSecundario {
        height: 250px;
    }

    .bannerSecundarioTitulo h1{
        font-size: 5rem;
    }
    /*nuevos lanzamientos estilos */
    .ofertas p{
        display: block;
        font-size: 16px;
    }

    .nuevosLanzamientos{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 33%);
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .ofertas{
        margin-bottom: 3rem;
    }

    .ofertas a img{
        width: 100%;
        height: 100%;   
    }

    .lanzamientoUno {
        grid-row: span 3;
    }

    .lanzamientoDos, .lanzamientoTres, .lanzamientoCuatro {
        grid-column: span 2;
        grid-row: span 1;
    }

    /*Destacados de la semana */

    .productoCinco{
        display: block;
    }

    .destacadosSemana{
        height: 50vh;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
    }
    
    /* footer */
    .resumen{
        width: 600px;
    }

    /* seccion ofertas */
    .ofertasOfertas{
        height: 75vh;
    }    
}


